<div class="registrationContainer">
    <div class="registrationBox">
        <h1>Regisztráció</h1>

        <input type="text" placeholder="Felhasználónév" pInputText [(ngModel)]="user.name"/>
        <input type="text" placeholder="Email" pInputText [(ngModel)]="user.email"/>
        <input type="password" placeholder="Jelszó" pInputText [(ngModel)]="user.password"/>
        <input type="password" placeholder="Jelsző megerősítés" pInputText [(ngModel)]="user.confirm"/>

        <p-button (onClick)="register()" label="Regisztráció" />
    </div>
</div>